# Created by http://www.gitignore.io

### vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


### Linux ###
*~

# KDE directory preferences
.directory

apache-activemq-5.6.0-bin.tar.gz
apache-activemq-5.6.0/
node_modules/
web-service/node_modules/
